- var path = "http://lorrigan.com"
- var title = 'Lorrigan - Corey Martel\'s Portfolio'
- var description = 'View Corey Martel\'s latest narrative work, including games and short stories'
- var twitterCardImagePath = path + '/TBC'

doctype
html(lang='en')
    head
        meta(charset='utf-8')

        title #{title}
        meta(name='description' content=description)
        meta(name='author' content='Corey Martel')
        meta(name='theme-color' content='#333')
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //- Facebook OpenGraph
        meta(property='og:type' content='website')
        meta(property='og:title' content=title)
        meta(property='og:description' content=description)
        meta(property='og:url' content=path)
        meta(property='og:image' content=twitterCardImagePath)

        //- Twitter card
        meta(name='twitter:card' content='summary_large_image')
        meta(name='twitter:title' content=title)
        meta(name='twitter:description' content=description)
        meta(name='twitter:url' content=path)
        meta(name='twitter:image' content=twitterCardImagePath)

        //- Schema.org microdata
        meta(itemprop='name' content='Quoralis: ' + title)
        meta(itemprop='description' content=description)
        meta(itemprop='image' content=twitterCardImagePath)

        link(rel='stylesheet' href='/css/boilerplate/normalize.css')
        link(rel='stylesheet' href='/css/boilerplate/main.css')
        link(rel='stylesheet' href='/css/style.css?v=1.0')

        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Overpass+Mono:400,700|Overpass:400,900&display=swap')

        link(rel='shortcut icon' type='image/png' href='/images/favicon.ico')

        <!--[if lt IE 9]>
            script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
        <![endif]-->
    body
        section
            img.lr-logo(src="/images/logo.gif" alt="Lorrigan")
            h1 Who
            p I am Corey Leigh, also known as Lorrigan. I’m a narrative blah dee blah, going on about all the stuff here, hello, goodday! Try some of my games below or check out my Itch.io page for more.
        
        section.lr-section--wide
            h1 Games
            div#gamesApp
                div.lr-loadingContainer
                    i.lr-icon.lr-icon--loading

        section.lr-section--wide
            h1 Short Stories
            div#storiesApp
                div.lr-loadingContainer
                    i.lr-icon.lr-icon--loading

        section
            h1 Contact
            p You can contact me like this.
        
        footer
            | &copy; Corey Martel #{year}, all rights reserved
        
        div#overlayApp

        script(src="https://cdn.jsdelivr.net/npm/vue")
        script(src="/js/app.js")
        script(src="/js/ga.js")
        script(src="/js/ink/ink.js")
        script(src="/js/ink/main.js")