- var path = "http://lorrigan.nz"
- var title = 'Lorrigan - Corey Martel\'s Portfolio'
- var description = 'View Corey Martel\'s latest narrative work, including games and short stories'
- var twitterCardImagePath = path + '/public/images/twitter-card.png'

doctype
html(lang='en')
    head
        meta(charset='utf-8')

        title #{title}
        meta(name='description' content=description)
        meta(name='author' content='Corey Martel')
        meta(name='theme-color' content='#333')
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //- Facebook OpenGraph
        meta(property='og:type' content='website')
        meta(property='og:title' content=title)
        meta(property='og:description' content=description)
        meta(property='og:url' content=path)
        meta(property='og:image' content=twitterCardImagePath)

        //- Twitter card
        meta(name='twitter:card' content='summary_large_image')
        meta(name='twitter:title' content=title)
        meta(name='twitter:description' content=description)
        meta(name='twitter:url' content=path)
        meta(name='twitter:image' content=twitterCardImagePath)

        //- Schema.org microdata
        meta(itemprop='name' content=title)
        meta(itemprop='description' content=description)
        meta(itemprop='image' content=twitterCardImagePath)

        //- Favicons
        link(rel="apple-touch-icon", sizes="180x180", href="/public/images/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/public/images/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/public/images/favicon-16x16.png")
        link(rel="manifest", href="/public/site.webmanifest")
        link(rel="mask-icon", href="/public/images/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")

        link(rel='stylesheet' href='/public/css/boilerplate/normalize.css')
        link(rel='stylesheet' href='/public/css/boilerplate/main.css')
        link(rel='stylesheet' href='/public/css/style.css?v=1.0')

        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Overpass+Mono:400,700|Overpass:400,900&display=swap')

        <!--[if lt IE 9]>
            script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
        <![endif]-->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-145443350-1")
        script
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', 'UA-145443350-1');

    body
        header
            img.lr-logo(src="/public/images/logo.gif" alt="Lorrigan")
        
        block content

        section
            h1 Contact
            p Want to get in touch? Got a job? Just want to say hi?
            p You can email me here: <a href="mailto:astoryandcorey@gmail.com">astoryandcorey@gmail.com</a>.
            p Or catch me at one of these places below!       
            div.lr-contact-links
                a(href="https://twitter.com/AStoryWithCorey" target="_blank").lr-contact-link
                    span twitter.com
                    i.lr-icon.lr-icon--twitter

                a(href="https://lorrigan.itch.io/" target="_blank").lr-contact-link
                    span itch.io
                    i.lr-icon.lr-icon--itch

        footer
            | &copy; Corey Martel #{year}, all rights reserved

        script(src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/7.1.0/firebase-firestore.js")
        script(src="https://www.gstatic.com/firebasejs/7.1.0/firebase-storage.js")
        script
            | var firebaseConfig = {
            |     apiKey: "AIzaSyBaT5h-lsMY8MnUshfnKyqn6Fe8fmYGx3A",
            |     authDomain: "lorrigan.firebaseapp.com",
            |     databaseURL: "https://lorrigan.firebaseio.com",
            |     projectId: "lorrigan",
            |     storageBucket: "lorrigan.appspot.com",
            |     messagingSenderId: "70387583770",
            |     appId: "1:70387583770:web:05b1a790369ecb60803aa3"
            | };
            | firebase.initializeApp(firebaseConfig);
        
        block scripts
